*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 40px;
    width: 100%;
    background: #000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
}
#head1{
   margin-left: 60px;
}
#search{
    margin-left: 400px;
}
#head2,#head3,#head4{
    margin-left: 20px;
}
#logo{
    width: 40px;
    height: 30px;
    background: black;
}